body{
    font-family: Arial, sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
html {
  height: 100%;
}
li {
  list-style: none;
}
.navigator {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   width: 100%;
   max-height: 15%;
   bottom: auto;
   background: #1D85AE;
   padding: 0;
   z-index: 99;
}
/* Parent container for navbar*/
.flex-container {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.header-container{
  display: flex;
  justify-content: flex-start;
  padding: .5em;
  border-color: black;
}
.button-container {
  display: flex;
  justify-content: space-between;
  padding: .5em;
}
.button-active {
  background-color: #55B020;
}
button {
  padding: 1em;
  border-radius: 6px;
  width: 150px;
  margin: 1em;
  background-color: #C0851F;
  border-color: black;
  color: lightgrey;
}
button:hover {
  background-color: #55B020;
}
.list-view-container {
  position: fixed;
  z-index: 999;
  box-sizing: border-box;
  top: 100px;
  left: 0;
  max-width: 250px;
}
.list-view {
  display: flex;
  flex-flow: column;
  text-align: center;
}
.list-active {
  background-color: lightgrey;
}
ul li {
  background-color: darkgrey;
  padding: .5em;
  color: white;
  flex-shrink: 1;
  border-radius: 3px;
}
ul li:hover {
  background-color: lightgrey;
}
#map {
    height: 100%;
    position: static;
}


